{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<h2 class="mx-3 my-2">Login</h2>
<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="px-3 py-2">
        <label for="{{ form.username.id_for_label }}" class="form-label">Никнейм</label>
        {{ form.username }}
        {% for error in form.username.errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="px-3 py-2">
        <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
        {{ form.password }}
        {% for error in form.password.errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary mx-3 mt-2">Вход</button>
</form>
<p class="mx-3 my-2"><a href="{% url 'register' %}" class="link-secondary link-opacity-75">Еще не зарегистрированы? Регистрация</a></p>
{% endblock %}
